.root {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.select {
  appearance: none;
  outline: none;
  border: 2px solid var(--color-accent);
  box-shadow: none;
  padding: 0.5rem;
  font-weight: bold;
  color: var(--color-dark);
  cursor: pointer;
  background: var(--color-light) url('../../assets/icons/chevron-down.svg') no-repeat right 1rem center;
  position: relative;
  display: flex;
  width: 5rem;
  height: 3em;
  border-radius: 5px;
  overflow: hidden;
  text-indent: 5px;
  transition: all 0.3s;
}

.select:hover {
  border: 2px solid var(--color-hover);
}

.select::-ms-expand {
  display: none;
}
