:root {
  --color-light: #fafafa;

  --color-gray-s: #cdcdcd;
  --color-gray-m: #64748b;

  --color-dark: #2a2d3d;

  --color-accent: #2c73d2;
  --color-accent-text: #0089ba;
  --color-hover: #008e9b;
  --color-main: #845ec2;

  --dark-border: 2px solid var(--color-dark);
  --light-border: 2px solid var(--color-light);
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:
    local(''),
    url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src:
    local(''),
    url('../assets/fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src:
    local(''),
    url('../assets/fonts/Roboto-Bold.ttf') format('truetype');
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

:focus,
:active {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  display: block;
}

input,
button,
textarea {
  font-family: 'Roboto', sans-serif;
  font-size: inherit;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-dark);
}

::-webkit-scrollbar-thumb {
  background: var(--color-accent);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-hover);
}

.link,
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-dark);
  text-transform: uppercase;
  transition: all 0.3s;
  background: var(--color-accent);
  border: 1px solid var(--color-accent);
  cursor: pointer;
  min-height: 32px;
  line-height: normal;
  max-width: 7rem;
}

.link:hover,
.button:hover {
  background: var(--color-hover);
  border: 1px solid var(--color-hover);
  color: var(--color-light);
}

.link:active,
.button:active:not(:disabled) {
  scale: 0.98;
}

input:disabled,
button:disabled {
  color: var(--color-dark);
  background: var(--color-gray-s);
  border: 1px solid var(--color-gray-m);
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  height: 100%;
  min-width: 320px;
  background-color: var(--color-light);
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#root > main {
  flex: 1 1 auto;
}

.active {
  color: #fff;
  text-decoration: underline;
}
