.root {
    display: flex;
    gap: 20px;
}

.result {
    flex-basis: 100%;
}

.outlet {
    background-color: #ffffff;
    bottom: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    right: 0;
    max-width: 360px;
    overflow: hidden;
    position: fixed;
    top: 0;
    transform: translate3d(100%, 0, 0);
    transition-property: opacity, transform, visibility;
    width: 100%;
    z-index: 3;
}
