.header {
  background-color: var(--color-main);
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.link:hover {
  color: var(--color-hover);
}

.link:active {
  scale: 0.95;
}

.nav {
  display: flex;
  align-items: center;
}
