.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
}

.pageInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.notFound {
  font-size: 2rem;
  margin: 1rem;
  color: var(--color-accent);
  text-align: center;
}
